<h1 class="signup">Signup!</h1>

<%= form_for :user, url: '/users' do |f| %>

  <div class="signup-form">
  First Name: <%= f.text_field :first_name %>
  </div>

  <div class="signup-form">
  Last Name: <%= f.text_field :last_name %>
  </div>

  <div class="signup-form">
  Email: <%= f.text_field :email %>
  </div>

  <div class="signup-form">
  Password: <%= f.password_field :password %>
  </div>

  <div class="signup-form">
  Password Confirmation: <%= f.password_field :password_confirmation %>
  </div>

  <%= f.submit "Submit", class: "button" %>
<% end %>